.content-container{
    background-image: url('contenu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 55vh ;
    padding: 45px 0 25px;
    position:relative;
    font-family: "Montserrat", "Roboto", sans-serif;
    color: rgb(255, 255, 255);

}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30%;
  position: relative;
}

.technologies > svg {
  margin: 20px;
  width: 80px;
}



.dark-gradiant{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) );
    background: -webkit-linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65) );
  }

.content-text{
    width: 60%;
    margin: auto;
    position: relative;
}

.content-text-header{
  text-align: center;
}

.content-text-header h2{
    background-color:rgb(254, 66, 77);
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline;
    font-weight: bold;
    font-size: 2.8em;
    text-align: center;
  }

.content-text p{
    text-align: justify;
    font-size: 1.5em;
    margin-top: 50px;
    letter-spacing: .0125em;
}

.content-text li{
  list-style-type: none;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.content-text li::before{
  content: '- ';
}

.content-text a{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  text-decoration: none !important;
}

.content-text a:hover{
  cursor: pointer;
  color : rgb(254, 66, 77);
}

@media screen and (max-width: 768px) {
  .content-text h2{
    font-size: 2.5em;
  }

  .content-container{
    height: auto;
    text-align: center;
  }
 .content-text li{
   text-align: left;
 }
}
