.duration-container{
  padding: 0 20% 100px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.projects-title {
  background-color:rgb(254, 66, 77);
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline;
  font-weight: bold;
  font-size: 2.8em;
  margin-bottom: 7px;
  font-family: "Montserrat", "Roboto", sans-serif;
}

.pagination-item {
  color:rgb(254, 66, 77) !important;
}

.pagination-item-active {
  background-color: rgb(254, 66, 77) !important;
  border-color: rgb(254, 66, 77) !important;
  color:white !important;
}

.duration-container-title{
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 40px;
}

.duration-container h2{
  color: white;
  background-color: rgb(254, 66, 77);
  font-size: 2.8em;
  margin-bottom: 35px;
  font-family: "Montserrat";
  font-weight: bold;
  display: inline;
}

.duration-description p{
  font-size: 1.5em;
  font-family: "Montserrat";
}

.duration-description li{
  list-style-type: none;
  font-size: 1.4em;
  font-family: "Montserrat";
}

.duration-description li::before{
  content: '- ';
}

.duration-img{
  align-items: center;
}

.duration-img img{
  width: 100%;
}

.session-title{
  font-weight: bold;
}

.duration-container ul{
  margin-left: -17px;
}


@media screen and (min-width: 992px){
  .duration-content{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 992px){
  .duration-container{
    text-align: center;
  }
  .duration-content{
    display: flex;
    flex-direction: column;
  }

  .duration-container-title{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .duration-content {
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 768px){
  .duration-container{
    text-align: center;
  }
  .duration-container h2{
    font-size: 2.5em;
    margin-bottom: 0px;
  }
  .duration-container-title{
    margin-bottom: 35px;
  }
  .duration-img {
    margin: auto;
  }
  .duration-img img {
    width: 100%;
    margin: auto;
  }
}
